<p id="notice"><%= notice %></p>

<h1>Population Requests</h1>

<h2>Population Requests Counts for "Exact" Year</h2>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Number of Requests</th>
    </tr>
  </thead>

  <tbody>
    <% @population_requests_summary.each do |year, count| %>
      <tr>
        <td><%= year %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>All Population Requests</h2>

<table>
  <thead>
    <tr>
      <th>Query</th>
      <th>Response</th>
      <th>Origin</th>
      <th>When</th>
    </tr>
  </thead>

  <tbody>
    <% @population_requests.each do |population_request| %>
      <tr>
        <td><%= population_request.query %></td>
        <td><%= population_request.response %></td>
        <td><%= population_request.origin %></td>
        <td><%= population_request.created_at.to_s(:db) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
